<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:insert="fragments/header"></head>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{title.userlist}"></h1>
        </div>
        <div>
            <a class="btn btn-success" href="#" th:href="@{/user/register}"> Add User </a>
            <a class="btn btn-primary" href="#" th:href="@{/user/modify}"
               th:classappend="${users.empty} ? 'disabled' : ''"> Edit User </a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>UserName</th>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Gender</th>
                        <th>Roles</th>
                        <th>Created date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${users.empty}">
                        <td colspan="2"> No Users in DataBase</td>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td><span th:text="${user.id}"> ID </span></td>
                        <td><span th:text="${user.name}"> UserName </span></td>
                        <td><span th:text="${user.username}"> Login </span></td>
                        <td><span th:text="${user.password}"> Password </span></td>
                        <td><span th:text="${user.gender?.getName()}"> Gender </span></td>
                        <td><span th:text="${user.roles.isEmpty()}?'unknown':${user.roles}"> Roles </span></td>
                        <td><span th:text="${user.createDate}!=null?${#temporals.format(user.createDate, 'dd.MM.yy')}:'unknown'"> Created date </span></td>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination-div">
                    <span th:if="${users.hasPrevious()}">
                        <a th:href="@{/user/all(page=${users.number-1},size=${users.size})}">Previous</a>
                    </span>
                    <th:block th:each="i: ${#numbers.sequence(0, users.totalPages - 1)}">
                        <span th:if="${users.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${users.number == i}">
                            <a th:href="@{/user/all(page=${i},size=${users.size})}">[[${i}+1]]</a>
                        </span>
                    </th:block>
                    <span th:if="${users.hasNext()}">
                        <a th:href="@{/user/all(page=${users.number+1},size=${users.size})}">Next</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="fragments/footer"></footer>
</div>

</html>
