<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:insert="fragments/header"></head>

<div class="container">
    <h1 th:text="#{title.home}"></h1>
    <div class="container">
        <h3>Welcome, <span th:text="${username}"></span> </h3>
        <h3><a href="#" th:href="@{/user/all}">All user list</a></h3>
        <h3><a href="#" th:href="@{/analytic/transactions}">Transactions</a></h3>

        <a href="${contextPath}/update">Update your profile</a> <br/>
    </div>
</div>

<footer  th:insert="fragments/footer"></footer>
</html>
