<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<script type="text/javascript">
  function validate() {
    if (document.f.username.value == "" && document.f.password.value == "") {
      alert("#{message.username} and #{message.password}");
      document.f.username.focus();
      return false;
    }
    if (document.f.username.value == "") {
      alert("#{message.username}");
      document.f.username.focus();
      return false;
    }
    if (document.f.password.value == "") {
      alert("#{message.password}");
      document.f.password.focus();
      return false;
    }
  }
</script>

<head th:insert="fragments/header"></head>

<div class="container">
    <h1>Welcome in <span th:text="#{welcome.message}"></span></h1>
    <div class="col-sm-10">
        <h5>Please login to continue ahead or if you are a new user kindly Sign Up by pressing the button below</h5>
        <a href="${pageContext.request.contextPath}/register"><input type="submit" value="Sign Up"></a>
    </div>

    <div class="col-sm-10">
        <form name='f' action="login" method="post">
            <table>
                <tr>
                    <td>User Name:</td>
                    <td><input name="username" size="30"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" size="30" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Login"/></td>
                </tr>
            </table>
        </form>

    </div>
</div>

<div class="container" th:insert="fragments/footer"></div>
</html>
