<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:insert="fragments/header"></head>

<div class="container">
    <h1 th:text="#{title.registerSuccess}"></h1>
    <div class="container">
        <h3> Dear <u><span th:text="${user.name}"></span>.</u> Your Account has been successfully created. </h3>
        <h3> Please <a th:href="@{/login}">login</a> or return to <a th:href="@{/home}">Home page</a></h3>
    </div>
</div>
<footer  th:insert="fragments/footer"></footer>
</html>
